<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.data.mapper.QcInspectionDataMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.data.model.QcInspectionData">
		<id column="id" property="id" />
		<result column="tenant_id" property="tenantId" />
		<result column="count_date" property="countDate" />
		<result column="inspection_total_year" property="inspectionTotalYear" />
		<result column="inspection_plan_total_year" property="inspectionPlanTotalYear" />
		<result column="inspection_rate_year" property="inspectionRateYear" />
		<result column="count_time" property="countTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id AS tenantId, count_date AS countDate, inspection_total_year AS inspectionTotalYear, inspection_plan_total_year AS inspectionPlanTotalYear, inspection_rate_year AS inspectionRateYear, count_time AS countTime
    </sql>
</mapper>
